.sidebar {
  height: 100vmax;
  background-color: #c3b2ff;
}

.sidebar li {
  padding: 10px 5px;
  text-align: center;
}
.sidebar li a {
  color: black;
  background: white;
  text-decoration: none;
}
